<h1>Lista de Frutas</h1>


<p>


@foreach (var item in @ViewBag.sacolinha){

    <p>Nome: @item.Nome<br>
    Frutas: @item.Nome<br>
    Preço: @item.Preco<br>
    Quantidade no Estoque : @item.Quantidade<br>
    Categoria: @item.Categoria <br>
     </p>

}